body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E5EEFC;
}

$color-main: rgb(35, 168, 242);
$half-white: rgba(255, 255, 255, 0.5);
$white: #fff;
$color-dark: #1c72b8;
$color-yellow: #FFB856;
$color-blue: #282eb3;

::-webkit-scrollbar {
  display: none;
}

.yellow{
  color: $color-yellow;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bold-5{
  font-weight: 500;
   
}
.main-color {
  color: $color-main;
}

.font-3 {
  font-size: 4rem;
}

.font-bold {
  font-weight: 800;
}

.color-white {
  color: #fff;
}

#tsparticles {
  @media all and (max-width: 992px) {
    display: none;
  }
}

.snap {
  @media all and (min-width: 1600px) {
    scroll-snap-type: y mandatory;
    overflow: auto;
    max-height: 100vh;
  }
}

.snap-inner {
  @media all and (min-width: 1600px) {
    scroll-snap-align: start;
  }
}

.about-section {
  border-radius: 750px;
  background-color: #143A5D;
  min-height: 60vh;
  margin: 1.5rem 0;

  @media all and (min-width:1600px) {
    margin-top: 7rem;

  }

  @media all and (max-width:768px) {
    border-radius: 200px;
    padding-bottom: 5rem;

  }

}



.heading-one {
  font-size: 5.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;

  span {
    color: $color-dark;
  }

  @media all and (max-width: 992px) {
    font-size: 4rem;
  }
}

.landing-heading {
  font-size: 6rem;
  letter-spacing: 0.4rem;
  font-weight: 800;
  text-transform: uppercase;
  background: $color-main;
  background: radial-gradient(circle farthest-corner at center center,
      #1c72b8 2%,
      #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Arial Black", Gadget, sans-serif;
  text-shadow: 0px 0px 0 rgb(35, 168, 242), 0px 1px 0 rgb(11, 97, 167),
    0px 2px 0 rgb(2, 88, 158), 0px 3px 0 rgb(-6, 80, 150),
    0px 4px 0 rgb(-15, 71, 141), 0px 5px 0 rgb(-24, 62, 132),
    0px 6px 0 rgb(-32, 54, 124), 0px 7px 0 rgb(-41, 45, 115),
    0px 8px 0 rgb(-50, 36, 106), 0px 9px 0 rgb(-58, 28, 98),
    0px 10px 0 rgb(-67, 19, 89), 0px 11px 0 rgb(-75, 11, 81),
    0px 12px 0 rgb(-84, 2, 72), 0px 13px 0 rgb(-93, -7, 63),
    0px 14px 0 rgb(-101, -15, 55), 0px 15px 0 rgb(-110, -24, 46),
    0px 16px 0 rgb(-118, -32, 38), 0px 17px 0 rgb(-127, -41, 29),
    0px 18px 0 rgb(-136, -50, 20), 0px 19px 18px rgba(247, 247, 247, 0.6),
    0px 19px 1px rgba(247, 247, 247, 0.5), 0px 0px 18px rgba(247, 247, 247, 0.2);

  @media all and (max-width: 768px) {
    font-size: 4rem;
  }

  @media all and (max-width: 574px) {
    font-size: 3rem;
  }

  @media all and (max-width: 375px) {
    font-size: 2.5rem;
  }
}

.landing-heading-two {
  color: #fff;
  font-size: 3rem;
  font-weight: normal;
  letter-spacing: normal;
  font-family: "Arial Black", Gadget, sans-serif;
  text-shadow: none;
  background: linear-gradient(to right, $color-main 2%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media all and (max-width: 768px) {
    font-size: 2rem;
  }
}

.landing-para {
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  // font-family: "Arial Black", Gadget, sans-serif;
  // font-weight: 200 !important;
}

.landind-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(90deg,
      rgba(16, 17, 23, 0.9),
      rgba(14, 17, 108, 0.9));

  @media all and (max-width: 992px) {
    padding-bottom: 3rem;
  }
}

.margin-top-negative {
  margin-top: -5rem;
}

.circular-btn {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: 2px solid #fff;
  display: grid;
  place-items: center;
  cursor: pointer;
  z-index: 1;

  .arrow-down {
    font-size: 4rem;
    color: #fff;
  }
}

.circular-btn1 {
  border: 2px solid $color-dark;

  .arrow-down {
    color: $color-dark;
  }
}

.logo-heading {
  color: #fff;
  font-size: 4rem;
  font-family: "Arial Black", Gadget, sans-serif;
  text-shadow: 0px 0px 0 rgb(224, 224, 224), 1px 0px 0 rgb(193, 193, 193),
    2px 0px 0 rgb(162, 162, 162), 3px 0px 0 rgb(131, 131, 131),
    4px 0px 0 rgb(100, 100, 100), 5px 0px 0 rgb(69, 69, 69),
    6px 0px 5px rgba(255, 255, 255, 0.28), 6px 0px 1px rgba(255, 255, 255, 0.5),
    0px 0px 5px rgba(255, 255, 255, 0.2);

  @media all and (max-width: 768px) {
    font-size: 3rem;
  }

  @media all and (max-width: 574px) {
    font-size: 2rem;
  }

  @media all and (max-width: 375px) {
    font-size: 1.5rem;
  }
}

.bars {
  font-size: 70px;

  @media all and (max-width: 768px) {
    font-size: 50px;
  }

  @media all and (max-width: 574px) {
    font-size: 40px;
  }
}

.sideImg {
  position: absolute;
  max-height: 800px;
  right: 4rem;
  top: 50%;
  transform: translateY(-50%);
}



.cross {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}

.background-img {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  opacity: 0.5;
}

.background-img-two {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  opacity: 0.5;
}

.landing-bottom {
  min-height: 100vh;
  padding-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
}

.tech-bar {
  background-color: #fff;
  height: 100vh;
  overflow-y: scroll;
  padding: 2rem 0;

  @media all and (max-width: 767px) {
    height: 100%;
  }
}

.tech-icon {
  max-width: 20px;
  margin-right: 0.7rem;

  @media all and (max-width: 992px) {
    margin-right: 0.2rem;
  }
}

.teach-heading {
  font-weight: bold;
  margin: 0 1rem;
}

.tech-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  text-align: center;

  @media all and (max-width: 992px) {
    text-align: center;
  }

  li {

    font-size: 0.9rem;
    display: inline-block;
    border: 0;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 140px;
    margin: 0.6rem;
    padding: 1rem 0.5rem;
    border-radius: 0.4rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    @media all and (max-width: 768px) {
      width: 150px;
    }



    @media all and (max-width: 375px) {
      width: 120px;
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-weight: 400;
    }
  }
}

.html {
  color: #e44d26;
}

.css {
  color: #264de4;
}

.js {
  color: #000;
}

.bootstrap {
  color: #563d7c;
}

.angular {
  color: #dd0031;
}

.flutter {
  color: #02569b;
}

.vue {
  color: #4fc08d;
}

.react {
  color: #61dafb;
}

.node {
  color: #339933;
}

.express {
  color: #000000;
}

.mongo {
  color: #47a248;
}

.git {
  color: #f05032;
}

.github {
  color: #181717;
}

.vscode {
  color: #007acc;
}

.npm {
  color: #cb3837;
}

.heroku {
  color: #430098;
}

.netlify {
  color: #00c7b7;
}

.figma {
  color: #f24e1e;
}

.photoshop {
  color: #31a8ff;
}

.iconic {
  color: #4E8EF7;
}

.tailwind {
  color: #000;
}

.next {
  color: #000;
}

.typescript {
  color: #3178c6;
}

.php {
  color: #777bb4;
}

.laravel {
  color: #ff2d20;
}

.codeigniter {
  color: #f7b500;
}

.mysql {
  color: #4479a1;
}

.firebase {
  color: #f57f17;
}

.django {
  color: #2ba977;
}

.python {
  color: #3776ab;
}

.mogodb {
  color: #47a248;
}

.postgresql {
  color: #336791;
}

.java {
  color: #007396;
}

.asp {
  color: #9400ff;
}

.flask {
  color: #000;
}

.ruby {
  color: #cc342d;
}

.nginx {
  color: #269539;
}

.wordpress {
  color: #05a8da;
}

.card-section {
  height: calc(100vh);
  // margin-top: 10rem;
  padding-bottom: 1rem;
  overflow-y: scroll;

  @media all and (max-width: 768px) {
    height: 100%;
  }
}

.custom-card {
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
  border-radius: 0 0 0.8rem 0.8rem;
  z-index: 1;

  .card-header {
    background-color: $color-dark;
    padding: 0.8rem;
  }

  .card-body {
    p {
      font-size: 0.9rem;
      color: rgba(0, 0, 0, 0.8);
    }
  }
}

.contact-link {
  text-decoration: none;
  font-weight: 400;
  border: 1px solid $color-dark;
  border-radius: 0 0 0.8rem 0.8rem;
  padding: 0.4rem 1rem;
}

.banner-para {
  @media all and (min-width: 992px) {
    width: 80%;
  }
}

.about {
  background-color: #e5eefc;
  overflow: hidden;
  min-height: 100vh;

  @media all and (max-width: 1600px) {
    padding-bottom: 3rem;
  }

  @media all and (max-width: 768px) {
    padding-bottom: 0.5rem;
  }
}

.footer-section {
  background-color: $color-yellow;

}

.poster {
  max-height: 100vh;
  width: 100%;
  object-fit: cover;
}

.ews-circle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20%;
}

.handburger {
  position: fixed;
  left: 1rem;
  top: 0.5rem;
}

.about-content {
  padding: 1rem;
}

.skill {
  .progress {
    margin-top: 0.6rem;
    position: relative;
    height: 5px;
    border-radius: 5px;
    background-color: #fff;

    span {
      width: 90%;
      background-color: $color-dark;
    }
  }

  .progress-full {
    background-color: $color-dark;
  }
}

.tech-card {
  border-radius: 0.4rem;
  padding: 0.5rem 0;
}

.about-link {
  color: #000;
  text-decoration: none;
  display: flex;
}

.email-icon {
  color: #fff;
}

.social-icons {
  display: flex;
}

.icon-container {
  background-color: $color-dark;
  height: 2rem;
  width: 2rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;
  align-items: center;

  a {
    margin-bottom: 0.3rem;
  }
}

.min-height {
  min-height: 312px;
}

.h100vh {
  height: 100vh;
}

.side-img-one {
  position: absolute;
  top: 20%;
  right: -10%;
  transform: rotate(55deg);
  opacity: 0.2;

  @media all and (max-width:768px) {
    display: none;
  }
}

.side-img-two {
  position: absolute;
  top: 20%;
  left: -10%;
  transform: rotate(20deg);
  opacity: 0.2;

  @media all and (max-width:768px) {
    display: none;
  }
}

.custom-service-card {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  padding: 25px;
  border-radius: 5px;
  background-color: #fff;
  min-height: 325px;
  position: relative;

  @media all and (max-width: 992px) {
    min-height: 420px;
  }

  @media all and (max-width: 767px) {
    min-height: 325px;
    padding: 15px;
  }
}

.card-icon-container {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-heading {
  text-transform: uppercase;
  color: #0d0f3c;
  font-weight: bold;
  margin-top: 1rem;
}

.get-quote {
  position: absolute;
  bottom: 1rem;
  min-width: 160px;
  text-decoration: none;
  color: #0d0f3c;
  border: 2px solid #0d0f3c;
  padding: 0.5rem 1em;
  border-radius: 0.4rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #0d0f3c;
    color: #fff;
  }
}

.arrow-right {
  margin-left: 0.5rem;
}

.service-heading {
  text-transform: uppercase;
  font-weight: bold;

  span {
    color: $color-yellow;
  }

  @media all and (max-width: 1600px) {
    margin-top: 1rem;
  }

  @media all and (max-width:768px) {
    margin-top: 2rem;
  }
}

.layer {
  position: absolute;
  left: -10%;

  @media all and (max-width: 1600px) {
    left: -27%;
  }
}

.z-1 {
  z-index: 2;
}

.all-services-cont {
  text-align: end;
  padding-top: 2rem;
  z-index: 99;

  @media all and (max-width: 1600px) {
    padding-top: 2.5rem;
  }

  @media all and (max-width:768px) {
    padding-top: 1.9rem;
    text-align: center;
  }
}

.all-services-btn {

  text-decoration: none;
  color: #fff;
  background-color: $color-yellow;
  padding: 0.8rem 2.5rem;
  min-width: 160px;
  border-radius: 0.4rem;
  font-weight: 600;
  color: #0d0f3c;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $color-yellow;
    color: #fff;
  }
}

.all-services {
  background-color: #143A5D;
  color: #fff;

  &:hover {
    background-color: #fff;
    color: $color-yellow;
  }
}

.technologies {
  padding-top: 3rem;

  @media all and (max-width:768px) {
    padding-top: 0;
  }
}

.layer2 {
  position: absolute;
  right: 0;
  opacity: 0.8;
  top: 50%;
  transform: translateY(-50%);

  @media all and (max-width:768px) {
    display: none;
  }
}

.layer1 {
  position: absolute;
  left: 0;
  transform: rotateY(180deg);

  @media all and (max-width:768px) {
    display: none;
  }

}

.cat-ul {
  padding: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    max-width: 200px;
  }
}

.cat-card {
  padding: 1rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;

  @media all and (max-width:768px) {
    padding: 0.5rem;
  }

}

.cat-icon {
  height: 3.6rem;
  width: 3.6rem;
  padding: 0.6rem;
  border: 1px solid $color-yellow;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: #fff;

  @media all and (max-width:768px) {
    height: 2.8rem;
    width: 2.8rem;
    padding: 0.5rem;
  }

}

.cat-heading {
  flex: 70%;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin: 0;
  color: $color-yellow;
  margin-bottom: 5px;

  @media all and (max-width:768px) {
    font-size: 1rem;
    text-transform: capitalize;
  }
}

.contact-btn {
  text-decoration: none;
  color: #fff !important;
  border: 2px solid #fff;
  padding: 0.7rem 2.5rem;
  border-radius: 0.4rem;
  font-weight: bold;

}

.full-stack {
  background-color: #CCDEFA;
}

.bottom-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.backend-card {
  background-color: #fff;
  border: 2px solid $color-yellow;
  border-top: 0;
  padding: 3rem 0.5rem 1rem 0.5rem;
  border-radius: 0 0 0.4rem 0.4rem;
  position: relative;
  min-height: 210px;
  margin-top: 7rem;

  .backend-img {
    position: absolute;
    top: -5.6rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .read-more {
    text-decoration: none;
    font-weight: 500;
    color: $color-yellow;

  }
}

.footer {
  background-color: $color-yellow;
  padding: 2rem 0;
  color: #4e4e4e;
  border-top: 1px solid #fff;
 }

.footer-ul {
  list-style: none;
  padding: 0;

  li {
    a {
      text-decoration: none;
      color: #4e4e4e;
      font-weight: 500;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #0d0f3c;
      }
    }
  }

}

.text-justify {
  text-align: justify;
}

.nav-links {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  ul {
    padding: 0;
    

    li {
      display: inline-block;
      margin: 1rem;

      a {
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: all 0.3s ease-in-out;
        span{
          font-size: 1.3rem;
        }
        &:hover{
          color: $color-yellow;
        }

      }
    }
  }
}


.sidebar {
  position: fixed;
  left: -100%;
  top: 0;
  background-image: linear-gradient(90deg, rgb(16, 17, 23), rgb(14, 17, 108));
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  height: 100vh;
  width: 100%;
  transition: all 0.5s ease-in-out;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.6);
}

.sidebar-active {
  left: 0;
  transition: all 0.5s ease-in-out;
}

.contact-section{
  background-color: #143A5D;
  color: #fff;
  padding: 4rem 1rem;
  border-radius: 0.4rem;
  
}
.contact-img{
border-radius: 0.4rem;
}

.frontendTech{
  min-height: 80vh;
   background-image: url("./assets/img/curve.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% center;
 
.carousel-indicators{
  button{
    background-color: $color-yellow;
  }
}
  .carousel-inner{
    min-height: 80vh;
    padding-top: 4rem;
  }
  
}
.tech-heading{
  color: $color-yellow;
  font-weight: 800;
  font-size: 3.5rem;
}
.tech-para{
  font-size: 1.2rem;
  font-weight: 500;
  color: $color-yellow;
}
.tech-btn{
  text-decoration: none;
  padding: 1rem 3rem;
  background-color: $color-yellow;
  font-weight: 500;
  color: #0d0f3c !important;
  border-radius: 0.4rem;
}

.services-section{
  background-color: #E5EEFD;
  padding: 3rem 0;
}

.service-card{
  background-color: #fff;
  margin-bottom:8rem;
  border-radius: 0.4rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-heading{
  color: $color-yellow;
  font-weight: 800;
   
   
}
.service-card-ul{
  padding: 0;
  list-style: none;
  li{
    display: inline-block;
    margin: 0.3rem 0.5rem 0.3rem 0;
    background-color: rgba(255,188,86,0.5);
    border-radius: 0.4rem;
    padding: 0.3rem 0.5rem;
    font-weight: 500;

  }
}


.services-bottom{
  padding: 3rem 0;
  background-color: #fff;
}

.logo{
  @media all and (max-width:768px){
    width: 60px;
  }
}